.my-footer {
    height: 5em;
    background-color: #3e3e3e;
    margin-top: 2.5em;
    padding: 1.25em;
    color: white;
    font-size: 80%;
}

.redText {
    color: red;
}

.datepicker {
    z-index: 10000;
}

.room-image {
    max-width: 50%;
}