{{template "base" .}}

{{define "content"}}

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="static/images/majors-suite.png" class="room-image img-thubmbnail mx-auto d-block mt-4" alt="room image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-5">Major's Suite</h1>
        <p class="mt-3 mb-3">Your home away from home awaits at the culturally rich Malacca Town. Set on a scenic colonial location, this will be a vacation you will never forget!
                    Your home away from home awaits at the culturally rich Malacca Town. Set on a scenic colonial location, this will be a vacation you will never forget!
                    Your home away from home awaits at the culturally rich Malacca Town. Set on a scenic colonial location, this will be a vacation you will never forget!
                    Your home away from home awaits at the culturally rich Malacca Town. Set on a scenic colonial location, this will be a vacation you will never forget!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-5 mb-5">
        <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
      </div>
    </div>
  </div>

{{end}}

{{define "js"}}
  <script>
    document.getElementById("check-availability-button").addEventListener("click",function () {
      let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
          <div class="form-row">
            <div class="col mt-3 mb-5">
              <div class="row" id="reservation-dates-modal">
                <div class="col">
                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                </div>
                <div class="col">
                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                </div>
              </div>
              <div class="row">
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
        </form>
        `

      attention.custom({msg: html, title:"Choose your dates"});
    });
  </script>
{{end}}