{{template "base" .}}

{{define "content"}}
  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-5">Make Reservation</h1>
        <p class="mt-5">Fill out the details below to continue with your reservation. Your dream escapade awaits!</p>
        <form method="post" action="" class="needs-validation" novalidate>
          <div class="form-group mt-5">
            <label for="first_name">First name:</label>
            <input type="text" name="first_name" class="form-control" required autocomplete="off">
          </div>
          <div class="form-group mt-3">
            <label for="last_name">Last name:</label>
            <input type="text" name="last_name" class="form-control" required autocomplete="off">
          </div>
          <div class="form-group mt-3">
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control" required autocomplete="off">
          </div>
          <div class="form-group mt-3 mb-5">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" class="form-control" required autocomplete="off">
          </div>
          <hr>
          <input type="submit" class="btn btn-primary mt-3 mb-5" value="Make Reservation">
        </form>
      </div>
    </div>
  </div>
{{end}}